[Unit]
Description=Periodically check for Arch package updates

[Timer]
OnBootSec=2min
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
